
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 2em;
    color: #e05c15f1;
    text-align: center;
}
.h2 {
    font-size: 1.5em;
    color: #15158df1;
    text-align: center;
    margin-bottom: 2em;
    text-align: center;
}
.h3{
    font-size: 1.2em;
    color: #15155df1;
    text-align: center;
}
header {
    background-color: #460202;
    color: #fff;
    padding: 1em;
    text-align: center;
    
}

header h1 {
    padding: 0em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #ffc107; /* Cor do texto ao passar o mouse */
}

.central {
    background-color: #f4f4f4;
    padding: 2em;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.auth-buttons {
    margin-top: 1em;
}

.auth-buttons buttons {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 0.1em;
    cursor: pointer;
    font-size: 1em;
    margin: 0 0.5em;
    transition: background-color 0.3s;
}

.auth-buttons button:hover {
    background-color: #0056b3;
}

.auth-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.central{
    background-color: #ffff;
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #5a0404;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.icone {
    margin-right: 1em;
    width: 250px;
    height: 250px;
    text-align: center;
}

.produto img {
    max-width: 250px; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 30px; /* Margem à direita da imagem */
    border-radius: 8px; /* Bordas arredondadas na imagem */
    flex-shrink: 0; /* Impede que a imagem seja redimensionada para menos que o necessário */
}
.produtos img {
    max-width: 250px; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 30px; /* Margem à direita da imagem */
    border-radius: 8px; /* Bordas arredondadas na imagem */
    flex-shrink: 0; /* Impede que a imagem seja redimensionada para menos que o necessário */
}
.pi {
    font-size: 1.5em;
    color: #15158df1;
    text-align: center;
    margin-bottom: 2em;
    text-align: center;

}

.pii {
    font-size: 1em;
    color: #09094cf1;
    text-align: center;
    margin-bottom: 1em;
    text-align: center;
}