

.con {
    text-align: center;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 2em;
    color: #e05c15f1;
    text-align: center;
}
.h2 {
    font-size: 1.5em;
    color: #15158df1;
    text-align: center;
    margin-bottom: 10em;
    text-align: center;
}
.h3{
    font-size: 1.2em;
    color: #15155df1;
    text-align: center;
}
header {
    background-color: #460202;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #ffc107; /* Cor do texto ao passar o mouse */
}

footer {
    background-color: #540303;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    bottom: 0;
}
.icone {
    margin-right: 1em;
    width: 150px;
    height: 150px;
}
.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c1 {
    margin-right: 1em;
    color: #15158df1;
    font-size: 1.2em;
    transition: color 0.3s ease;
    background-color: transparent;
    
}

.pa {
    text-align: center;
    font-size: 1.2em;
    transition: color 0.3s ease;
    background-color: transparent;
    
}

.n1 {
    color: #000000f1;
    font-size: 1.2em;
    transition: color 0.3s ease;
    background-color: transparent;
    display: block;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.n2 {
    margin-right: 1em;
    color: #000000f1;
    font-size: 1.2em;
    transition: color 0.3s ease;
    background-color: transparent;
    display: block;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
